:root{
	--main-bg-color:white;
	--main-text-color:#ffffff;
	--background:lightgrey;
}

@import url('https://fonts.googleapis.com/css?family=Ubuntu&display=swap');
*{margin:0;padding:0;}

body{
	background:#E5E5E5;
	
	}

.logo{
	
	position: absolute;
	margin:0 auto;
	width: 314px;
	height: 314px;
/*	left: 563px;
	top: 237px;*/
	top: 50%;
  	left: 50%;
  /* bring your own prefixes */
  	transform: translate(-50%, -50%);
	background: #FFFFFF;
	border: 1px solid #E4E4E4;
	box-sizing: border-box;
	box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.08); 

	}

.header{
	display: flex;
	flex-direction: row;
	justify-content: center;
	background: url('Background for home page.svg') ;
	color: var(--main-text-color);
	position: inherit;
	height: 635px;
	left: 0px;
	top: 0px; 

	background-size: cover;
	}
.footer
{
	display: flex;
	flex-direction: row;
	background: url('Footer.svg');
	position: inherit;
	
	height: 346px;
	left: 0px;
	top: 3387px; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	}
.quiz{
	display:flex;
	flex-flow:row wrap;
	justify-content:center;
	background:var(--background-color);
	margin:1.5rem;
	
}
.question{
	display:flex;
	font-family: 'Nunito Sans', sans-serif;
	flex-direction:column;
	align-items:center;
	border: 2px solid #ff8000;
	margin: 2rem 2rem 2rem 2rem;
    padding: 1.5rem 1.5rem 1.5rem 1.5rem;
    border-radius: 1.5rem 1.5rem 1.5rem 1.5rem;
    color:var(--main-text-color);
    background:var(--background-color);
}

.options{
	font-size:larger;
}

.button{
	display: flex;
    flex-flow: row reverse;
    padding:1.5rem 1.5rem 1.5rem 1.5rem;
    margin:1.5rem 1.5rem 1.5rem 1.5rem;
   font-family: 'Nunito Sans', sans-serif;
    font-size:medium;
  
}
.mydetails{
	display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items:baseline;
    box-sizing:content-box;
    border:2px solid black;
    padding:1.5rem 1.5rem 1.5rem 1.5rem;
    background:var(--background-color);
    margin:10px;
    font-size:large;
  font-family: 'Nunito Sans', sans-serif;
}

.output{
	display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items:baseline;
    box-sizing:content-box;
    border:2px solid black;
    padding:1.5rem 1.5rem 1.5rem 1.5rem;
    background:var(--background-color);
    margin:10px;
    font-family: 'Nunito Sans', sans-serif;
    font-size:large;
}

.header-text{
	position: absolute;
	width: 682px;
	height: 51px;
	left: 378px;
	top: 73px;
	font-family: Ubuntu;
	font-style: normal;
	font-weight: 500;
	font-size: 44px;
	line-height: 51px;
	/* identical to box height */
	display: flex;
	align-items: center;
	margin-left:48px;
	text-align: center;
	letter-spacing: 0.05em;
	color: #FFFFFF;

}
.header-text-small{
	position: absolute;
	width: 448px;
	height: 21px;
	left: 510px;
	top: 152px;
	font-family: Ubuntu;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 21px;
	/* identical to box height */
	display: flex;
	align-items: center;
	color: #FFFFFF;
	margin-left:60px;
	}
